@{
  Layout = "_Layout";
}

@model BendSpoon.Models.Restaurant

<h3>Restaurant Details</h3>

<hr>

<h4>@Html.DisplayFor(model => model.RestName)</h4>
<h5>Type: @Html.DisplayFor(model => model.Type)</h5>

<hr>

<p>
@Html.ActionLink("Return to Restaurant List", "Index")<br>
@Html.ActionLink("Return to Home", "Index", "Home")
</p>