@{
  Layout = "_Layout";
}

@model BendSpoon.Models.Employee

<h4>Are you sure you want to delete this employee?</h4>

<h5>Employee Name: @Html.DisplayFor(model => model.Name)</h5><br>

@using (@Html.BeginForm())
{
  <input type="submit" value="Delete Employee" />
}

<hr>

<p>@Html.ActionLink("Back to Edit Employee", "Edit", new { id = @Model.EmployeeId })</p>